USE [BlueMobile]
GO
/****** Object:  Table [SimCards]    Script Date: 12/13/2019 3:17:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SimCards](
	[iSimCardID] [int] IDENTITY(1,1) NOT NULL,
	[vcPhoneNumber] [varchar](25) NOT NULL,
	[vcPINNumber] [varchar](25) NOT NULL,
	[vcPUKNumber] [varchar](25) NOT NULL,
	[vcIMEINumber] [varchar](25) NOT NULL,
	[vcSerialNumber] [varchar](25) NOT NULL,
	[sdtDateCreated] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_SimCards] PRIMARY KEY CLUSTERED 
(
	[iSimCardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__SimCards__1573F3EBB1E75191] UNIQUE NONCLUSTERED 
(
	[vcIMEINumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__SimCards__EEDE1CE4DAE88985] UNIQUE NONCLUSTERED 
(
	[vcPhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SimCards] ADD  CONSTRAINT [DF__SIM cards__DateC__17F790F9]  DEFAULT (getdate()) FOR [sdtDateCreated]
GO
